@import '../mixins/m-media';


.c-vehicle {

  &__img {
    width: 20rem; 
    background-color: red;

    @include mediaMd {
      background-color: blue;
    }

    @include mediaLg {
      background-color: goldenrod;
    }
  }
}
