@import '../mixins/m-media';


.c-vehicle-card {

  display: flex;
  color: $text-colour;
  padding-left: 3rem;


  @include mediaMd {
    flex-direction: column;
  }
  &__img {
    width: 25%;
    object-fit: contain;
    align-self: flex-start;

    @include mediaMd {
      width: 40%;
    }
  }

  &__information {
    flex: 1 1 auto;
    padding-left: 8px;
    padding-bottom: 10px;

    @include mediaMd {
      padding: 0;
    }

  }

  &__name {
    font-size: 1.1rem;
    
    @include mediaMd {
      font-size: 1.8rem;
    }
  }

  &__price {
    font-size: 0.9rem;
    padding-top: 0;
  }

  &__description {
    font-size: 0.9rem;
  }
}
